{% extends "!page.html" %}
{% block body %}
{% if current_version and latest_version and current_version != latest_version %}

<div align="center"
  style="background-color: #ffedcc; border-style: solid; border-color: #ffa500;
  border-width: 2px;margin:10px">
  <strong>
    {% if current_version.is_released %}
    You're reading an old version of this documentation.<br>
    If you want up-to-date information, please have a look at <a href="{{ vpathto(latest_version.name) }}">{{latest_version.name}}</a>.
    {% else %}
    You're reading the documentation for a development version.<br>
    For the latest released version, please have a look at <a href="{{ vpathto(latest_version.name) }}">{{latest_version.name}}</a>.
    {% endif %}
  </strong>
</div>
{% endif %}
{{ super() }}
{% endblock %}%
