{%- if current_version %}
<div class="rst-versions" data-toggle="rst-versions" role="note" aria-label="versions">
  <span class="rst-current-version" data-toggle="rst-current-version">
    <span class="fa fa-book"> Other Versions</span>
    v: {{ current_version.name }}
    <span class="fa fa-caret-down"></span>
  </span>
  <div class="rst-other-versions">
    {% if versions %}
    <h3 style="margin:0;">{{ _('Releases') }}</h3>
    <ul>
      {%- for item in versions.releases %}
      <li><a href="{{ item.url }}">{{ item.name }}</a></li>
      {%- endfor %}
    </ul>
    <h3 style="margin:0;">{{ _('Branches') }}</h3>
    <ul>
      {%- for item in versions.branches %}
      <li><a href="{{ item.url }}">{{ item.name }}</a></li>
      {%- endfor %}
    </ul>
    <h3 style="margin:0;">{{ _('In Development') }}</h3>
    <ul>
      {%- for item in versions.in_development %}
      <li><a href="{{ item.url }}">{{ item.name }}</a></li>
      {%- endfor %}
    </ul>
    {% endif %}
  </div>
</div>
{%- endif %}
